asgiref==3.5.2
autopep8==1.7.1
backports.zoneinfo==0.2.1
certifi==2022.6.15.1
distlib==0.3.6
Django==4.1.5
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
djangorestframework==3.13.1
filelock==3.8.0
pipenv==2022.9.8
platformdirs==2.5.2
pycodestyle==2.9.1
pytube==12.1.0
pytz==2022.1
sqlparse==0.4.2
tomli==2.0.1
tzdata==2022.1
virtualenv==20.16.5
virtualenv-clone==0.5.7
matplotlib==3.7.0