{% extends 'base.html' %}
{% load static %}


{% block title %}Inventory Details Page{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="item_list_heading mb-5">
            <h1 class="fs-2">Welcome to the Inventory Item Detail Page</h1>            
        </div>  
    </div>
</div>





<div class="row">
    <div class="col-md-7 mx-auto">
        <div class="card">
            <div class="card-header">Inventory Item Details</div> 
            <div class="card-body">
                <h1 class="fs-5">Item: {{ item.item }}</h1>
                <p class="fs-5">Description: {{ item.description }}</p>
                <p class="fs-5">Quantity: {{ item.quantity }}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'inventory_list' %}" class="btn btn-sm btn-primary btn-outline-dark">Back</a>
                <a href="{% url 'item.update' pk=item.id %}" class="btn btn-sm btn-warning btn-outline-dark">Edit</a>
                <a href="{% url 'item.delete' pk=item.id %}" class="btn btn-sm btn-danger btn-outline-dark">Delete</a>
            </div>
        </div>        
    </div>
</div>  


    
{% endblock content %}