{% load static %}

<!-- using the itemid to dispay a model for the item you want to delete -->
<div class="modal fade" id="deleteModal-{{ item.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>        
      </div>

      <div class="modal-body">
        <p>Are you sure you want to Delete <q>{{ item.item }}</q></p>
        <p>This action can't be undone.</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
        <form action="{% url 'item.delete' pk=item.id %}" method="post">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger btn-outline-dark" value="Confirm">
        </form>
      </div>

    </div>
  </div>
</div>
