{% extends 'base.html' %}
{% load static %}

{% block title %}Inventory Page{% endblock %}

{% block content %}

    <div class="row">
        <div class="col">
            <div class="item_list_heading mb-5">
                <h1 class="fs-2">Welcome to the Inventory Page</h1>
                <p class="fs-5">These are the Inventory Items</p>
            </div>  
        </div>
    </div>

    <div class="col text-end">
        <a href="{% url 'item.new' %}" class="btn btn-info btn-sm btn-outline-dark">Add New Item</a>
    </div>

    

    <div class="row">
        {% for item in items %}
        	<div class="col-md-7 py-3">
                <div class="card">
                    <div class="card-header">
                        {{ item.item }}
                    </div>
                    <div class="card-body ">
                        {{ item.description }}
                    </div>
                    <div class="card-footer">
                        Quantity : {{ item.quantity }}  
                    </div>           
                </div>
            </div>
        <div class="col-md-5 py-3 d-flex align-items-center">

        <!--
        <div>
            <a href="{% url 'item.detail' pk=item.id %}" class="btn btn-info btn-sm btn-outline-dark">View</a>
        </div> 
        -->
        <!--    No need for the inventoy_detail.html - Keep it for now     -->

        <div>
            <a href="{% url 'item.update' pk=item.id %}" class="btn btn-sm btn-warning btn-outline-dark btn-block">Update</a>
        </div>
        <div>
            <a href="{% url 'item.delete' pk=item.id %}" class="btn btn-sm btn-danger btn-outline-dark btn-block">Delete</a>
        </div>
        
    </div>
        {% endfor %}

    




   <!--
    <ul>
        {% for item in items %}
        <li>{{ item.item }}</li>        
        <li>{{ item.description }}</li>        
        <li>{{ item.quantity }}</li>
        <br>
        
        {% endfor %}
    </ul>
    -->

{% endblock content %}