<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory List Page</title>
</head>
<body>
    <h1>Welcome to the Inventory Page</h1>

    <p>These are the Items</p>

    <ul>
        {% for item in items %}
        <li>{{ item.item }}</li>        
        <li>{{ item.description }}</li>        
        <li>{{ item.quantity }}</li>
        <br>
        
        {% endfor %}
    </ul>

</body>
</html>