{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}



<div>
    <!-- display the current date and time  -->
    <h3>Today is {{ current_date_time|date:'F d, Y H:i' }}</h3>
</div>


<div>
    <h4>Current and Upcoming Jobs:</h4>
</div>

<div>
    <!-- loops through users bookings and displays the 1st two booking not marked as completed-->
    {% for booking in bookings %}
    <div class="col-md-8 py-3">
        <div class="card">
            <div class="card-header text-center">
                {{ booking.title }}
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <br> <span class="text-left"><strong> Details: </strong> {{ booking.details }}</span>
                        <br> <span class="text-left"><strong> Contact: </strong> {{ booking.contact }}</span>
                        <br> <span class="text-left"><strong> Tel: </strong> {{ booking.phone_number }}</span>
                        <br> <span class="text-left"><strong> Quote: </strong> &euro; {{ booking.quote }}</span>
                        <br> <span class="text-left"><strong> Materials Needed: </strong> {{ booking.materials_needed
                            }}</span>
                        <br> <span class="text-left"><strong> Material Cost: </strong> &euro; {{ booking.materials_cost
                            }} </span>
                        <br> <span class="text-left"><strong> Start Time: </strong> {{ booking.start_time }}</span>
                        <br> <span class="text-left"><strong> End Time: </strong> {{ booking.end_time }}</span>
                        </br>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}