{% extends 'base.html' %}
{% load static %}



{% block content %}

<!--   http://127.0.0.1:8000/login/logout     -->


<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <h1 class='card-header text-center'>Bye For Now</h1> 
            <div class="card-body text-center">  
            <p><a href="http://localhost:8000/login/">Login</a>  </p> 
            </div>                  
        </div>  
    </div>
</div>




{% endblock content %}