{% extends 'base.html' %}
{% load static %}

{% block title %}Booking{% endblock title %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="item_list_heading mb-5">
            <h1 class="fs-2">Welcome to the Job Booking Page</h1>            
        </div>  
    </div>
</div>

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">Create/Edit a Booking</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <table class="table">
                            {{ form }}
                        </table>
                    </div>
                                
                   <div class="row d-flex justify-content-center">
                    {% if not form.instance.pk %}
                        <div class="col-5 d-flex justify-content-center">
                            <button type="submit" class="btn btn-sm btn-info w-100">Save</button>
                        </div>
                    {% else %}
                        <div class="col-6 d-flex justify-content-center">
                            <button type="submit" class="btn btn-sm btn-info w-100">Save</button>
                        </div>
                
                        <div class="col-6 d-flex justify-content-center">
                            <button type="button" class="btn btn-sm btn-danger w-100" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ form.instance.pk }}">Delete</button>
                        </div>
                    {% endif %}
                </div>
                </form>
            </div>
            <div class="card-footer">
                <a href="{% url 'calendar_component:calendar' %}" class="btn btn-sm btn-primary">Back</a>                    
            </div>
        </div>
    </div>
</div>

{% if form.instance.pk %}
    {% include 'booking_delete.html' %}
{% endif %}



{% endblock content %}
