{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="confirm-message text-center">
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to Delete this booking <q>{{ item.item }}</q></p>
                <p>this action cant be undone</p>
                <input type="submit" class="btn btn-sm btn-danger btn-outline-dark" value="confirm">
            </form>
            <div>
                <!--<a href="{% url 'inventory_list' %}" class="btn btn-sm btn-primary btn-outline-dark">Back</a>-->
            </div>
        </div>

    </div>
</div>


{% endblock content %}